/****INDEX STYLES****/

/**UL**/
#ul-servicios{
    text-align: center;
    list-style-type: none;
}

/**Local Media**/
/*Audio*/
audio {
    width: 99%; 
    border-radius: 5px ;
    padding: 10px;
}

/*Video*/
video {
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 3px 3px 5px #0f0f0fc9;  
    height: 300px; 
    display: block; 
    max-width: 0 auto; 
    margin: 0 auto; 
}

/**Spans**/
.lightblue{
    color: #64CCC5;
}

.bold-underline{
    font-weight: bold;
    text-decoration: underline;
}